Button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    height: 36px;
    width: 350px;
    justify-content: flex-start;
    align-items: stretch;
    left: auto;
    right: auto;
    top: auto;
}
